/* 
blue: #344354
white: #f8fafc
gray: #e2e8f0

*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #e2e8f0;
}

h1 {
    background-color: #f8fafc;
    text-align: center;
    font-size: 50px;
    padding: 30px;
}

#main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 22px;
    margin-bottom: 15px;
}

#edit {
    background-color: #344354;
    height: 100%;
    width: 100%;
    padding: 70px;
    color: #f8fafc;
}

#display {
    background: #e2e8f0;
    height: 100%;
    width: 100%;
    padding: 70px;
}

h2 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    outline: none;
    border: none;
    background-color: #f8fafc;
    margin-bottom: 15px;
    height: 30px;
    border-radius: 25px;
    font-size: 20px;
    padding: 15px;
}

[type='date'], [type='number'], [type='file'] {
    width: 150px;
}

#profilePic {
    max-width: 250px;
    max-height: 250px;
    border: 2px solid #f8fafc;
    border-radius: 25px;
}

#generalDisplay {
    display: flex;
}

/* #info {
     padding:  30px; 
} */


p {
    font-size: 20px;
    margin-bottom: 50px;
}

#displayName {
    font-size: 40px;
    font-weight: 600;
    margin-top: -20px;
}


#educationDisplay, #workDisplay {
    margin-bottom: 50px;
}

hr {
    margin-bottom: 50px;
}

/* #display-image{
    background-image: ;
    background-position: center;
    background-size: cover;
  } */